<h1>Términos y condiciones de uso del sitio web</h1>

<h2>1. Condiciones</h2>

<p>Al acceder a este sitio web, accesible desde https://daw2-equip02.insjoaquimmir.cat, acepta estar sujeto a estos Términos y condiciones de uso del sitio web y acepta que es responsable del acuerdo con las leyes locales aplicables. . Si no está de acuerdo con alguno de estos términos, tiene prohibido acceder a este sitio. Los materiales contenidos en este sitio web están protegidos por derechos de autor y leyes de marcas registradas.</p>

<h2>2. Licencia de uso</h2>

<p>Se otorga permiso para descargar temporalmente una copia de los materiales en el sitio web de McGym solo para visualización transitoria personal y no comercial. Esta es la concesión de una licencia, no una transferencia de título, y bajo esta licencia no puede:</p>

<ul>
    <li>modificar o copiar los materiales;</li>
    <li>utilizar los materiales para fines comerciales o para cualquier exhibición pública;</li>
    <li>intentar aplicar ingeniería inversa a cualquier software contenido en el sitio web de McGym;</li>
    <li>eliminar los derechos de autor u otras anotaciones de propiedad de los materiales; o</li>
    <li>transferir los materiales a otra persona o "duplicar" los materiales en cualquier otro servidor.</li>
</ul>

<p>Esto le permitirá a McGym rescindir su contrato en caso de incumplimiento de cualquiera de estas restricciones. Tras la rescisión, su derecho de visualización también se rescindirá y deberá destruir cualquier material descargado que tenga en su poder, ya sea en formato impreso o electrónico. Estos Términos de servicio se han creado con la ayuda del <a href="https://www.termsofservicegenerator.net">Generador de Términos de servicio</a>.</p>

<h2>3. Descargo de responsabilidad</h2>

<p>Todos los materiales del sitio web de McGym se proporcionan "tal cual". McGym no ofrece garantías, ya sean expresas o implícitas, por lo que niega todas las demás garantías. Además, McGym no hace ninguna representación con respecto a la precisión o confiabilidad del uso de los materiales en su sitio web o en relación con dichos materiales o cualquier sitio vinculado a este sitio web.</p>

<h2>4. Limitaciones</h2>

<p>McGym o sus proveedores no serán responsables de ningún daño que surja con el uso o la imposibilidad de usar los materiales en el sitio web de McGym, incluso si McGym o un representante autorizado de este sitio web ha sido notificado, oralmente o por escrito, de la posibilidad de tal daño. Algunas jurisdicciones no permiten limitaciones en garantías implícitas o limitaciones de responsabilidad por daños incidentales, estas limitaciones pueden no aplicarse a usted.</p>

<h2>5. Revisiones y erratas</h2>

<p>Los materiales que aparecen en el sitio web de McGym pueden incluir errores técnicos, tipográficos o fotográficos. McGym no promete que ninguno de los materiales en este sitio web sea preciso, completo o actual. McGym puede cambiar los materiales contenidos en su sitio web en cualquier momento sin previo aviso. McGym no se compromete a actualizar los materiales.</p>

<h2>6. Enlaces</h2>

<p>McGym no ha revisado todos los sitios vinculados a su sitio web y no es responsable del contenido de dichos sitios vinculados. La presencia de cualquier enlace no implica aprobación por parte de McGym del sitio. El uso de cualquier sitio web vinculado es bajo el propio riesgo del usuario.</p>

<h2>7. Modificaciones de los términos de uso del sitio</h2>

<p>McGym puede revisar estos Términos de uso de su sitio web en cualquier momento sin previo aviso. Al usar este sitio web, usted acepta estar sujeto a la versión actual de estos Términos y condiciones de uso.</p>

<h2>8. Tu privacidad</h2>

<p>Lea nuestra Política de privacidad.</p>

<h2>9. Ley aplicable</h2>

<p>Cualquier reclamo relacionado con el sitio web de McGym se regirá por las leyes de es sin tener en cuenta sus disposiciones sobre conflictos de leyes.</p>
