<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
            <a class="navbar-brand" href="">McGym</a>
            </div>
          </nav>
    </header>
    <div>

    </div>
<div class="container principal">
    <div class="recu">
        <form #forgot2Form = "ngForm" (ngSubmit)="resforgot2(forgot2Form)">
            <div class="form-group">
                <h1>Ayuda de contraseña</h1>
                <p>Introduzca la nueva contraseña para tu cuenta de McGym y asi realizar el cambio.</p>
                <label for="exampleInputEmail1">Nueva contraseña</label>
                <input required #password="ngModel"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name = "password" ngModel type="password" class="form-control" placeholder="Password" ngModel required>
                <small id="emailHelp" class="form-text text-muted">Recuerda que la contraseña ha de contener minimo 8 caracteres</small>
            </div>
            <button type="submit" class="btn btn-primary">Cambiar contraseña!</button>
        </form>
    </div>
</div>

<footer>
    <div class="icons">
        <a href="https://twitter.com/elonmusk"><i class="fa-brands fa fa-twitter" ></i></a>
        <a href="google.es"><i class="fa-brands fa fa-facebook"></i></a>
        <a href="google.es"><i class="fa-brands fa fa-github" ></i></a>
        <a href="google.es"><i class="fa-brands fa fa-linkedin"></i></a>
    </div>


    <footer>
        <div class="footer">
            <div>
                <h4 class="footer-text">Nuestras redes</h4>
            </div>
        </div>
    </footer>
</footer>
</body>
</html>
