<!DOCTYPE html>
<html lang="en">

<body>
<div class="body">
    <div class="principal col-auto p-5">
       <div class="forgot">
            <form action="">
               <h1>Recuperación de contraseña</h1>
               <label class="la">Nueva contraseña:</label>
               <input class="input" type="text" name="email">
               <label class="la">Repite Nueva contraseña:</label>
               <input class="input" type="text" name="email">
               <button>Reestablecer contraseña</button>
            </form>
        </div>     
    </div> 
</div>
    </body>
</html>
