
html,
body {
  min-height: 100vh;
}

/* heder */
body {
  background: rgb(235, 61, 61);
  display: flex;
  align-items: flex-end;
}



.user {
  width: 99vw;

  display: flex;
  flex-direction: row;
  background-color: rgb(164, 43, 43, 64);
}
#logo {
  width: 10vw;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.links {
  margin: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 2%;
}
.fa-solid {
  font-size: 2vw;
}
h2 {
  width: 100%;
  color: white;
}
.title {
  width: 100%;
  margin-top: 2%;
  margin-left: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* i {
  color: rgba(0, 0, 0, 0.774);
} */

/* heder */

/* bar */
.bar {
  padding: 1vw;
}
.redirects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  color: rgb(0, 0, 0);
}

/* bar */

/* body */
.horario {
  background: rgb(235, 61, 61);
}

.horario {
  display: flex;
  justify-content: center;
  padding: 1%;
}
/* body */

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 1vw;
}

i {
  color: #2196f3;
}
