body {
  background-color: rgb(197, 145, 76);
}

h2 {
  width: 100%;
  color: white;
}
a {
  color: rgba(0, 0, 0, 0.774);
}
.user {
  background-color: rgb(218, 89, 89);
}
#logo {
  width: 30%;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.user {
  display: flex;
  flex-direction: row;
}

.links {
  margin: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 2%;
}
.fa-solid {
  font-size: 2vw;
}

.title {
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  #logo {
    width: 100%;
  }

  .title {
    margin-left: 1%;
  }
  .links {
    font-size: 6vw;
    margin: 2%;
    width: 100%;
    height: 100%;
    gap: 2%;
  }
  .fa-solid {
    font-size: 7vw;
  }
  .horario {
    width: 100%;
    height: 100%;
  }
}
