<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>

</head>
<body>
    <div id="container">

        <div class="principal" >
            <div class="user">
                <div class="logo">
                    <img id="logo" src="/assets/McgymLogo.png" >
                </div>
                <div class="title">
                    <h2>HORARIO MCGYM</h2>
                </div>
                <div class="links">
                    <a class="iconos" href=""><i class="fa-solid fa fa-cart-arrow-down"></i></a>
                    <!-- <a href=""><i class="fa-solid fa fa-user"></i></a> -->
                    <a class="iconos" href="" (click)="salir()"><i class="fa-solid fa fa-arrow-right"></i></a>            
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-3 bar"> 
                        <a class="btn btn-primary redirects" href="/main" role="button">Horario McGym</a>
                    </div>
                    <div class="col-3 bar">
                        <a class="btn btn-primary redirects" href="/reserva" role="button">Reservar</a>
                    </div>
                    <div class="col-3 bar">
                        <a class="btn btn-primary redirects" href="/misActividades" role="button">Mis Actividades</a>  
                    </div>
                    <div class="col-3 bar">
                        <a class="btn btn-primary redirects" href="#" role="button">Tienda</a>  
                    </div>

                    <div class="col-3 bar" *ngIf="mon==true" >
                        <a class="btn btn-primary redirects" href="/actividades" role="button">Actividades</a>  
                     </div>



                     <!-- Segun el rol tendran acceso a estos diferentes botones -->
                     <div class="col-3 bar" *ngIf="mon==true||tec==true">
                        <a class="btn btn-primary redirects" href="/clientes" role="button">Clientes</a>  
                     </div>

                     <div class="col-3 bar" *ngIf="mon==true||tec==true">
                        <a class="btn btn-primary redirects" href="/vistatareas" role="button">Lista tareas</a>  
                     </div>

                     <div class="col-3 bar" *ngIf="mon==true" >
                        <a class="btn btn-primary redirects" href="/tareas" role="button">Crear Tarea</a>  
                     </div>

                     <div class="col-6 bar" *ngIf="mon==true" >
                        <a class="btn btn-primary redirects" href="/empleados" role="button">Empleados</a>  
                     </div>

                     <div class="col-6 bar" *ngIf="mon==true" >
                        <a class="btn btn-primary redirects" href="/actividades" role="button">Crear actividad</a>  
                     </div>


                </div>
            </div>

            <div class="horario">
                <img src="/assets/movilmcgym.png" alt="Responsive image" class="ihorario img-fluid">
            </div>

            <div class="horario">
                <img src="/assets/horarioTardeMcGym.png" alt="Responsive image" class="ihorario img-fluid">
            </div>


            <div class="icons">
                <a class="a" href="https://twitter.com/elonmusk"><i class="fa-brands fa fa-twitter" style="font-size:4vw;" ></i></a>
                <a class="a" href="google.es"><i class="fa-brands fa fa-facebook" style="font-size:4vw;"></i></a>
                <a class="a" href="google.es"><i class="fa-brands fa fa-github" style="font-size:4vw;"></i></a>
                <a class="a" href="google.es"><i class="fa-brands fa fa-linkedin" style="font-size:4vw;"></i></a>
            </div>
        
            <footer>
                <div class="footer">
                    <div>
                        <h4 class="footer-text">Nuestras redes</h4>
                    </div>
                </div>
            </footer>

        </div>
    </div>
</body>
</html>