html,
body {
  min-height: 100vh;
}

/* heder */
body {
  background: rgb(235, 61, 61);
}
.fondo {
  background-color: rgb(255, 190, 190);
}

.user {
  display: flex;
  flex-direction: row;
  background-color: rgb(164, 43, 43, 64);
}
#logo {
  width: 10vw;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.links {
  margin: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 2%;
}
.fa-solid {
  font-size: 2vw;
}

h2 {
  width: 100%;
}

.title {
  width: 100%;
  margin-top: 2%;
  margin-left: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* heder */

/* bar */
.bar {
  padding: 1vw;
}
.redirects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  color: rgb(0, 0, 0);
}

/* bar */

i {
  color: rgba(0, 0, 0, 0.774);
}

/* body */
td,
tr,
th,
p {
  font-weight: bold;
}

p {
  color: black;
  font-size: 1vw;
}

/* body */

a:hover {
  letter-spacing: 1px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 1vw;
}

i {
  color: #2196f3;
}
