<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/employee">EMPLEADOS</a>

    </div>
  </nav>
<div class = "row">
    <div class = "col-md-4">
        <div class = "card">
            <div class = "card-body">
                <h1> EMPLEADOS</h1>
                <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)" (ngSubmit)="validation(employeeForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">                    
                    <div class="form-group" >
                        <input required #id="ngModel" required [(ngModel)]="employeeService.selectedEmployee.id" name = "id" type="text" class="form-control" placeholder="ID" ngModel>
                        <div *ngIf ="id.touched && id.invalid" class="alert alert-danger">
                            ID is required
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" name = "name" ngModel="name" type="text" class="form-control" placeholder="Nombre" ngModel required>
                        <div *ngIf ="name.touched && name.invalid" class="alert alert-danger">
                            NAME is required
                        </div>
                    </div>
                    <div class="form-group">
                        <input required #email="ngModel" [(ngModel)]="employeeService.selectedEmployee.email" name = "email" ngModel [email]="true" type="email" class="form-control" placeholder="Email" ngModel required>
                        <div *ngIf ="email.touched && email.invalid" class="alert alert-danger">
                            EMAIL is required
                        </div>
                    </div>
                    <div class="form-group">
                        <select  [(ngModel)]="employeeService.selectedEmployee.ocupacion" name = "ocupacion" ngModel="ocupacion" class="form-control" size="1" ngModel required>
                            <option value="" disabled selected>Ocupación</option>
                            <option>Técnico</option>
                            <option>Monitor</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary" [attr.disabled]="!employeeForm.valid ? true : null" >Save</button>
                </form>
                <button class="btn btn-primary mr-2" (click)="resetForm(employeeForm)">Clean</button>
            </div>
        </div>
        
    </div>
    <div class = "col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Ocupacion
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.ocupacion }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="editEmployee(employee)"> 
                            <i class="material-icons"> edit </i>  
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee._id)"> 
                            <i class="material-icons"> delete </i>  
                        </button>
                    </td>
                </tr>
                    
            </tbody>
        </table>


</div>
<a class="btn btn-dark" type="button" href="/">INICIO<button class="control backlink"></button></a>
