<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/employee">EMPLEADOS</a>

    </div>
  </nav>
<div class = "row">
    <div class = "col-md-4">
        <div class = "card">
            <div class = "card-body">
                <h1> EMPLEADOS</h1>
                <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)" (ngSubmit)="validation(employeeForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">                    
                    <div class="form-group" >
                        <input required #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" name = "name" ngModel="name" type="text" class="form-control" placeholder="Nombre" ngModel required>
                        <div *ngIf ="name.touched && name.invalid" class="alert alert-danger">
                            NOMBRE requerido
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #apellido="ngModel" [(ngModel)]="employeeService.selectedEmployee.apellido" name = "apellido" ngModel="apellido" type="text" class="form-control" placeholder="Apellido" ngModel required>
                        <div *ngIf ="apellido.touched && apellido.invalid" class="alert alert-danger">
                            APELLIDOS requeridos
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #telefono="ngModel" [(ngModel)]="employeeService.selectedEmployee.telefono" name = "telefono" ngModel="telefono" pattern="[0-9]{9}" type="tel" class="form-control" placeholder="Telefono" ngModel required>
                        <div *ngIf ="telefono.touched && telefono.invalid" class="alert alert-danger">
                            TELEFONO requerido
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required pattern="[0-9]{8}[A-Za-z]{1}" #dni="ngModel" [(ngModel)]="employeeService.selectedEmployee.dni" name = "dni" ngModel="dni" type="text" class="form-control" placeholder="DNI" ngModel required>
                        <div *ngIf ="dni.touched && dni.invalid" class="alert alert-danger">
                            DNI requerido
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #datanaixement="ngModel" [(ngModel)]="employeeService.selectedEmployee.datanaixement" name = "datanaixement" ngModel="datanaixement" type="date" class="form-control" placeholder="Fecha de nacimiento" ngModel required>
                        <div *ngIf ="datanaixement.touched && datanaixement.invalid" class="alert alert-danger">
                            FECHA NACIMIENTO requerida
                        </div>
                    </div>
                    <div class="form-group">
                        <input required #email="ngModel" [(ngModel)]="employeeService.selectedEmployee.email" name = "email" ngModel [email]="true" type="email" class="form-control" placeholder="Email" ngModel required>
                        <div *ngIf ="email.touched && email.invalid" class="alert alert-danger">
                            EMAIL requerido
                        </div>
                    </div>
                    <div class="form-group">
                        <input required #password="ngModel"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="employeeService.selectedEmployee.password" name = "password" ngModel type="password" class="form-control" placeholder="Password" ngModel required>
                        <div *ngIf ="password.touched && password.invalid" class="btn btn-info">
                            Mínimo 8 carácteres, 1 mayúscula y 1 número
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <select  [(ngModel)]="employeeService.selectedEmployee.ocupacion" name = "ocupacion" ngModel="ocupacion" class="form-control" size="1" ngModel required>
                            <option value="" disabled selected>Ocupación</option>
                            <option>Técnico</option>
                            <option>Monitor</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary" [attr.disabled]="!employeeForm.valid ? true : null" >Save</button>
                </form>
                <button class="btn btn-primary mr-2" (click)="resetForm(employeeForm)">Clean</button>
            </div>
        </div>       
    </div>
    <div class = "col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>
                        DNI
                    </th>
                    <th>
                        Fecha de nacimiento
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Ocupacion
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.apellido}}</td>
                    <td>{{ employee.telefono}}</td>
                    <td>{{ employee.dni}}</td>
                    <td>{{ employee.datanaixement }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.ocupacion }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="editEmployee(employee)"> 
                            <i class="material-icons"> edit </i>  
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee._id)"> 
                            <i class="material-icons"> delete </i>  
                        </button>
                    </td>
                </tr>
                    
            </tbody>
        </table>
</div>
<a class="btn btn-dark" type="button" href="/">INICIO<button class="control backlink"></button></a>
