<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css" rel="stylesheet" />
    <!-- <script src="../js/mousetrap.js"></script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="principal">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container">
                  <a class="navbar-brand" href="/employee">McGym</a>
            
                  <div class="form">
                      <form action=""> 
                          <div class="login">
                              <label for="">Usuario</label>
                              <input type="text">
                              <label for="">Contraseña</label>
                              <input type="password">
                          </div>
                          <div class="entrar">
                              <a href="/forgot1">He olvidado la contraseña</a>
                              <button>LOGIN</button>
                          </div>
                      </form>
                  </div>
                </div>
            </nav>
    <div id="header">
        <div class="container">
        </div>
    </div>
    <div id="visitUsContainer">

        <div id="visit" class="visitTitle">
            <h2>VISITA NUESTRO GIMNASIO MCGYM AQUI!</h2>
        </div>

        <div id="map" class="map-container" style='width: 95vw; height: 90vh;'>
        
        </div>


    </div>

    <footer>
        <div class="footer">
            <div>
                <h4 class="footer-text">Nuestras redes</h4>
            </div>
            <div class="icons">
                <i class="fa-brands fa fa-twitter" style="font-size:48px;" ></i>
                <i class="fa-brands fa fa-facebook" style="font-size:48px;"></i>
                <i class="fa-brands fa fa-github" style="font-size:48px;"></i>
                <i class="fa-brands fa fa-linkedin" style="font-size:48px;"></i>
            </div>
        </div>
    </footer>

        <a class="btn btn-dark" type="button" href="/employee">ATRAS<button class="control backlink"></button></a>
</div>
</body>