<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css" rel="stylesheet" />
    <!-- <script src="../js/mousetrap.js"></script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="principal">
            <nav class="navbar-dark bg-dark">
                <div class="container">
                  <div class="d-flex align-items-center">
                  <img class="logo" src="/assets/McgymLogo.png" alt="">
                    <p class="nav" href="/employee">McGym</p>
                  </div>
                  <div class="d-flex justify-content-end">

                      <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)"> 
                          <div class="login">
                              <label class="usu text-white" >Usuario</label>
                              <input required #email="ngModel" [(ngModel)] = "user.email" name = "email" ngModel [email]="true" type="email" placeholder="Email" ngModel required>
                              <label class="text-white">Contraseña</label>
                              <input required #password="ngModel" [(ngModel)] = "user.password" name = "password" ngModel [email]="true" type="password" placeholder="password" ngModel required>

                          </div>
                          <div class="entrar">
                              <a class="forgot1" href="/forgot1">He olvidado la contraseña</a>
                              <button type="submit" class="btn btn-primary mb-3">Log in</button>
                            </div>
                      </form>
                  </div>
                </div>
            </nav>
    <div id="header">
        <div class="container">
            <div class="container row text-center">
              <div class="col-sm">
                <h1>NUESTRA TIENDA ONLINE</h1>
                <p class="h5">Nuestra web cuenta con una tienda en la que puedes
                    comprar diversos productos dedicados principalmente a la
                     nutricion/alimentacion y bienestar fisico para asi lograr un mayor rendimiento durante el entreno</p>
              </div>
              <div class="col-sm" >
                <h1>NUESTRA SALA McGYM</h1>
                <p class="h5">En las salas de nuestro gimnasio McGym encontraras mas de 50 maquinas de entrenamiento con un repertorio muy amplio de pesas individuales
                  para asi poder sacar el maximo potencial a todos tus entrenamientos<p>
              </div>
            </div>
          </div>
    </div>




    <div class="body">
          <div class="container ml-2">
            <div class=" row text-center">
                <div class=" text col-5" >
                  <p class="h5">Nuestra tienda se centra siempre en proveer los productos nutritivos
                     y proteicos de la mejor calidad en el mercado, todos los productos cuentan con una 
                     funcion en el hambito de entreno y todos ellos tienen una garantia de mejora en el rendimiento
                    de los entrenamiento que se realicen</p>
                    <br>
                    <p class="h5">Cuando hablamos de proteina nuestra tienda cuenta con el mayor repertorio de ella.
                          Con el maximo porcentaje nutricional en proteina y mejor creatina adaptada a todas las cantidades
                        y precios para todo el publico a partir de los 16 años </p>
                </div>
              <div class="imagen col-5">
                <img src="/assets/tienda.png" class="" alt="Responsive image" >
              </div>
            </div>
          </div>
          <div class="container">
            <div class="  row text-center">
              <div class="imagen col-5">
                <img src="/assets/sala0.png" class="" alt="Responsive image" >
              </div>
                <div class=" text col-5" >
                  <br>
                  <p class="h5">Las salas Mcgym son nuestro principal punto fuerte, cuenta con varias maquinas para 
                    tonificar o definir todos los musculos, tambien cuenta con entrenamientos impartidos por profesionales
                    para lograr resultados mas especificos y centrados, todos nuestros monitores de entrenamiento cuentan 
                    con titulacion y gran conocimiento de la materia </p>
                </div>
            </div>
          </div>
          <div class="container">
            <br>
            <p class="h5 text-center">Aqui puedes encontrar la vista de nuestro HORARIO MCGYM para realizar
              tus reservas y diversas variadas fotografias de algunas de nuestras salas y equipos con
               los que cuentan todas ellas
            </p>
            
          </div>
    </div>

<div class="slider">
  
  <div class="slides">
    <div id="slide-1">
      <img class="imgCarru" src="/assets/horario.png" alt="" >
    </div>
    <div id="slide-2">
      <img class="imgCarru" src="/assets/sala1gym.png" alt="">
    </div>
    <div id="slide-3">
      <img class="imgCarru" src="/assets/sala5.jpg" alt="">
      
    </div>
    <div id="slide-4">
      <img class="imgCarru" src="/assets/mc.jpeg" alt="" >
    </div>
    <div id="slide-5">
      <img class="imgCarru" src="/assets/horario.png" alt="" >
    </div>
  </div>
</div>
    


    <div id="visitUsContainer">
        <div id="visit" class="visitTitle">
            <h2>VISITA NUESTRO GIMNASIO MCGYM AQUI!</h2>
        </div>

        <div id="map" class="map-container"></div>
    </div>
    <div class="abajo">

      <div class="icons">
          <a class="a" href="https://twitter.com/elonmusk"><i class="fa-brands fa fa-twitter" style="font-size:4vw;" ></i></a>
          <a class="a" href="google.es"><i class="fa-brands fa fa-facebook" style="font-size:4vw;"></i></a>
          <a class="a" href="google.es"><i class="fa-brands fa fa-github" style="font-size:4vw;"></i></a>
          <a class="a" href="google.es"><i class="fa-brands fa fa-linkedin" style="font-size:4vw;"></i></a>
      </div>
  
      <footer>
          <div class="footer">
              <div>
                  <h4 class="footer-text">Nuestras redes</h4>
                  <a href="/terminos_condiciones">Terminos y condiciones</a>
              </div>
          </div>
      </footer>
  </div>
</div>

</body>