<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center error d-flex align-items-center">
        <h1>ERROR 404</h1>
    </div>
    <div class="d-flex justify-content-center d-flex align-items-center col-13">
        <h2>Pagina inexistente</h2>
    </div>
    <div class="d-flex justify-content-center d-flex align-items-center col-13">
        <h1>:(--------PORFAVOR VUELVE A MCGYM--------:(</h1>
    </div>
</body>
</html>


