body {
  height: 100%;
  background-color: aqua;
}

.root {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: aqua;
  background-size: cover;
}
.principal {
  margin-top: 100%;
  width: 500px;
  margin: auto;
}

.forgot {
  padding: 1.6rem;
  border: 2px solid black;
  background-color: rgb(93, 127, 230);
  border-radius: 1.6rem;
}

.input {
  font-size: 1.5rem;
}
nav {
  width: 100%;
}
