
<div class="root">
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/employee">RECUPERACION DE CONTRASEÑA</a>
            </div>
        </nav>
    </div>
    <div class="principal col-auto p-5">
       <div class="forgot">
           <form action="">
               <h1>Recuperación de contraseña</h1>
               <label class="la">E-mail:</label>
               <input class="input" type="text" name="email">
               <p class="la">Se enviará un correo electronico</p>
               <button>Mandame el correo!</button>
            </form>
        </div>     
    </div> 
</div>


