body {
  background-color: rgb(255, 255, 255);
}

.navbar {
  margin-bottom: 3vw;
}

.principal {
  background-color: rgb(238, 247, 206);
  border: 1px solid black;
  padding: 3vw;
}

.final {
  margin-top: 2vw;
  background-color: rgba(169, 166, 172, 0.267);
}

button {
  margin-top: 1vw;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  font-size: 4vw;
}

.footer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .icons {
    font-size: 7vw;
  }
}
