<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/tareas">TAREAS</a>
    </div>
  </nav>
<div class = "row">
    <div class = "col-md-4">
        <div class = "card">
            <div class = "card-body">
                <h1> TAREAS</h1>
                <form #tareaForm = "ngForm" (ngSubmit)="addTarea(tareaForm)" (ngSubmit)="validation(tareaForm)">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="tareaService.selectedTarea._id">                    
                    <div class="form-group" >
                        <input required #namemon = "ngModel" [(ngModel)]="tareaService.selectedTarea.namemon" name = "namemon" ngModel="namemon" type="text" class="form-control" placeholder="Nombre Monitor" ngModel required>
                        <div *ngIf ="namemon.touched && namemon.invalid" class="alert alert-danger">
                            NOMBRE del monitor requerido
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #nametec="ngModel" [(ngModel)]="tareaService.selectedTarea.nametec" name = "nametec" ngModel="nametec" type="text" class="form-control" placeholder="Nombre del Técnico" ngModel required>
                        <div *ngIf ="nametec.touched && nametec.invalid" class="alert alert-danger">
                            NOMBRE del técnico requerido
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #fecha="ngModel" [(ngModel)]="tareaService.selectedTarea.fecha" name = "fecha" ngModel="fecha" type="date" class="form-control" placeholder="fecha" ngModel required>
                        <div *ngIf ="fecha.touched && fecha.invalid" class="alert alert-danger">
                            FECHA requerido
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #hora="ngModel" [(ngModel)]="tareaService.selectedTarea.hora" name = "hora" ngModel="hora" type="time" class="form-control" placeholder="Hora" ngModel required>
                        <div *ngIf ="fecha.touched && fecha.invalid" class="alert alert-danger">
                            HORA requerida
                        </div>
                    </div>
                    <div class="form-group" >
                        <input required #incidencia="ngModel" [(ngModel)]="tareaService.selectedTarea.incidencia" name = "incidencia" ngModel="incidencia" type="text" class="form-control" placeholder="Incidencia" ngModel required>
                        <div *ngIf ="incidencia.touched && incidencia.invalid" class="alert alert-danger">
                            DESCRIPCIÓN de la incidencia requerida
                        </div>
                    </div>                           
                    <button type="submit" class="btn btn-secondary" [attr.disabled]="!tareaForm.valid ? true : null" >Save</button>
                </form>
                <button class="btn btn-primary mr-2" (click)="resetForm(tareaForm)">Clean</button>
            </div>
        </div>
        
    </div>
    <div class = "col-md-8">
        <table class="table">
            <thead>
                <tr> 
                    <th>
                        Nombre Monitor
                    </th>
                    <th>
                        Nombre Tecnico
                    </th>
                    <th>
                        fecha
                    </th>
                    <th>
                        Hora
                    </th>
                    <th>
                        Incidencias
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let tarea of tareaService.tareas">
                    <td>{{ tarea.namemon}}</td>
                    <td>{{ tarea.nametec}}</td>
                    <td>{{ tarea.fecha}}</td>
                    <td>{{ tarea.hora }}</td>
                    <td>{{ tarea.incidencia }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="editTarea(tarea)"> 
                            <i class="material-icons"> edit </i>  
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteTarea(tarea._id)"> 
                            <i class="material-icons"> delete </i>  
                        </button>
                    </td>
                </tr> 
            </tbody>
        </table>


</div>
<a class="btn btn-dark" type="button" href="/main"><button class="control backlink">INICIO</button></a>
