/* hedder */
body {
  background: rgb(235, 61, 61);
}
.fondo{
  background-color: rgb(255, 190, 190);
  
}
.color{
  
  color: black;

}

.user {
  display: flex;
  flex-direction: row;
  background-color: rgb(164, 43, 43, 64);
}
#logo {
  width: 10vw;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.links {
  margin: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 2%;
}
.fa-solid {
  font-size: 2vw;
}
h2 {
  width: 100%;
  color: black;
  margin: 2vw;
}
.title {
  width: 100%;
  margin-top: 2%;
  margin-left: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  color: rgba(0, 0, 0, 0.774);
}
/*heder */

/* bar */
.bar {
  padding: 1vw;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  color: rgb(0, 0, 0);
}

/* bar */

/* body */
td,
tr,
th,
p {
  color: antiquewhite;
  font-weight: bold;
}

p {
  color: black;
  font-size: 1vw;
}

/* body */
